{% extends "base.html" %}
{% load static %}
{% block page_content %}
 <!-- <h1> Contact details</h1> -->
    
 <article id="post-369" class="single single-post group post-369 page type-page status-publish hentry">
					
  <div class="post-header">
        
   <h1 class="post-title">Contact</h1>						
  </div><!-- .post-header -->
  
         
  <div class="post-inner">

   <!-- <div class="post-content entry-content"> -->
    <div class="img-container">
      <p> <img src="{% static '/images/iiserbhopal.jpeg' %}" alt="IISER Bhopal"; /> </p>
    </div>
    
<h4 class="moz-signature">Prof. Varadharajan Srinivasan &#8211; <a href="http://helios.iiserb.ac.in/" target="_blank" rel="noopener noreferrer"></a></h4>
<p><strong>Office address</strong></p>
<p>225, Ab Initio Theory Group (AITG) <br class="manualbr" /> Department of Chemistry (2nd floor)<br /></p>
<p class="moz-signature"><strong>Correspondence and delivery address</strong></p>
<p>Academic Block 2, Indian Institute of Science Education and Research (IISER) <br class="manualbr" /><br />
Bhopal 462066 &#8211; India</p>
<p class="moz-signature">T. +91 755 269 1315</p>
<p class="moz-signature">WWW: <a href="http://helios.iiserb.ac.in">vardha.iiserb.ac.in</a><br />
E-mail:<a href="mailto:vardha@iiserb.ac.in"> vardha@iiserb.ac.in</a><br />



{% endblock %}   