{% extends "base.html" %}
{% load static %}
{% block page_content %}

   <h1> Downloads</h1>
    <div class="col-md-16">
        <div class="card mb-2">
            <ul>
             <li><a href="#">How to obtain Litesoph</a></li>
             <li><a href="#">Installation requirements</a></li>
             <li><a href="#">Detailed Instructions</a></li>
             <li><a href="#">Test</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="#">Sample input files</a></li>
             <li><a href="#">Scripts for various work flows</a></li>
            </ul>
        </div>
    </div>
{% endblock %}   