{% extends "base.html" %}
{% load static %}
{% block page_content %}

<main id="main">

<div class="row section  topspace">
    
    <div class="col-sm-4">
		<h1>Pre-processing tools</h1>
		<ul>
			
				<li>
					Structure builder and import tools
				</li>

                <li>
					Laser design tool
				</li>

                <li>
					Initial state preparation tool
				</li>

                <li>
					Laser masking tool
				</li>			
		</ul>
    </div>
	
	<div class="col-sm-4">
		<h1>Electronic structure engines</h1>
		<ul>
			
				<li>
					<a href="https://octopus-code.org/wiki/Main_Page" target="_blanck">OCTOPUS</a> 
				</li>

                <li>
                    <a href="https://wiki.fysik.dtu.dk/gpaw/index.html" target="_blanck">GPAW</a>
                </li>

                <li>
                    <a href="https://www.nwchem-sw.org/" target="_blanck">NWChem</a>
                </li>			
		</ul>
    </div>
	
	<div class="col-sm-4">
		<h1>Post-processing tools</h1>
		<ul>
			
				<li>
					Spectrum tools
				</li>

                <li>
                    Induced density analysis tool
                </li>

                <li>
                    Induced potential and Enhanced Electric Field analysis tool
                </li>

                <li>
                    Generalized Plasmonicity Index Calculator
                </li>			
		</ul>
    </div>
  </div>         
</div>	




<div class="row section  topspace">
    
    <div class="col-sm-3">
		<h1>Added functionalities</h1>
		<ul>			
				<li>
					Trajectory Surface Hopping
				</li>                		
		</ul>
    </div>
	
	
	
	<div class="col-sm-3">
		<h1><a href="{% url 'visualization' %}">Visualization Tool</a></h1>
		<ul>			
				<li>
					Based on <a href="https://www.python.org/" target="_blanck">Python</a>, <a href="https://www.blender.org/" target="_blanck">Blender</a>, and <a href="https://www.ks.uiuc.edu/Research/vmd/" target="_blanck">VMD</a>
				</li>                	
		</ul>
    </div>

    <div class="col-sm-5">
		<h1>Graphical User Interface (GUI)</h1>
		<ul>			
				<li>
					A tool for pre-processing, simulations, post-processing, and the data visualization
				</li>                		
		</ul>
    </div>

  </div>         
</div>	

</main>

{% endblock %}   