{% extends "base.html" %}
{% load static %}
{% block page_content %}

   <h1> Graphical User Interface of Litesoph (GUI)</h1>

   <h2>Purpose</h2>
    <p>
            Specially in the Chemistry community, studying the excited state molecular dynamics (ESMD) simulations are quite important. There are a few codes that are generally used to study ESMD properties using time-dependent density functional theory (TDDFT). However, not all the required features are available in any of the codes. Thus, researchers find a lot of challenge to study the photo-induced ESMD properties. Currently, we are in a process of developing a graphical user interface to help the research comminity interested in the time-dependent phenomena. Currently, the GUI uses three popular DFT/TDDFT based codes, namely OCTOPUS, GPAW, and NWCHEM to perform the ground state and time-dependent calculations. It gives a choice to the users to select the required input parameters to build the necessary input files for a particular code of our choice, creates the script file ro run the simulations on a particular cluser, and finally it also submits the jobs.
        </p>

    <h1> How to obtain GUI?</h1>   
     <p> Our GUI can be obtained from our github page. Below is the link for the same: <br>

        <a href="https://github.com/LITESOPH/litesoph/tree/main/GUI"> GUI</a>



     </p>

{% endblock %}   