{% extends "base.html" %}
{% load static %}
{% block page_content %}
   
<main id="main">

	<div class="container">
        <div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
          LITESOPH - Layer Integrated Toolkit and Engine for simulations of Photoinduced Phenomena
            <p class="text-center"><a href="{% url 'about' %}" class="btn btn-action">Read more</a></p>
        </p>
    </div>
</div> 

<!-- <div id="content-right"> -->
  <!-- BEGIN SLIDESHOW --> 
  <!-- <div id="slideshow-container-two">
          <a href="#" class="show" >
      <img src="{% static '/images/fig_1.png' %}" width="610" height="312" title="" alt="" rel="<p> Induced potential on Transition metal dichalcogenide 4N nanoflake. </p>"/>
    </a>
          <a href="#" class="show" >
      <img src="{% static '/images/fig_2.png' %}" width="610" height="312" title="" alt="" rel="<p>Induced potential on Transition metal dichalcogenide 12N nanoflake.</p>"/>
    </a>
    <a href="#" class="show" >
      <img src="{% static '/images/fig_3.png' %}" width="610" height="312" title="" alt="" rel="<p>Induced density on Transition metal dichalcogenide 12N nanoflake.</p>"/>
    </a>
    <a href="#" class="show" >
      <img src="{% static '/images/fig_4.png' %}" width="610" height="312" title="" alt="" rel="<p>Field enhancement at 2.08 eV in TMDC nanoflake.</p>"/>
    </a>
          <div class="caption">
      <div class="content"></div>
    </div>
  </div> -->
  <!-- END OF SLIDESHOW -->









<!-- <h1>LITESOPH </h1> 
  <p><b>L</b>ayer <b>I</b>ntegrated <b>T</b>oolkit and <b>E</b>ngine for <b>S</b>imulations <b>o</b>f <b>Ph</b>oto-induced Phenomena</p> -->
   <!-- <h1 id="h2-objective">Objectives</h1>
    <ol>
      <li>Build input for excited state dynamics simulations</li>
      <li>Design and vary simulation conditions and parameters</li>
      <li>Deploy and manage large-scale simulations on HPC clusters</li>
      <li>Analyze time-dependent Phenomena such as excited state dynamics, internal conversion and other nonradiative decay mechanisms, plasmon generation and conversion, vibrational coupling to electron dynamics, Photo-Induced charge transfer (PICT) and Photo-Induced energy transfer (PIET)</li>
    </ol> -->

     
{% endblock %}   

