{% extends "base.html" %}
{% load static %}
{% block page_content %}
   
<h1> Current LITESOPH Team</h1>
     <ul>
      <li>Prof. Varadharajan Srinivasan (Group leader)</li>
      <li>Mr. Vignesh Balaji K</li>
      <li>Dr. Pramod Kumar Verma</li>
      <li>Mr. Kamalakannan S</li>
      <li>Mr. Mithun M</li>
      <li>Mr. Sachin S</li>
      <li>Ms. Humahuti Dihingia</li>
    </ul>

<h1>Former Members of LITESOPH Team</h1>
   <ul>
     <li>
       Dr. Manish Rana
     </li>
   </ul>    
     
{% endblock %}   

